.menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.email {
  color: white;
}

.button {
  background-color: #61dafb;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #21a1f1;
}
